/* ==== 박준엽 시작 ========================================================================================= */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, 
h6, pre, code, form, fieldset, legend, textarea, p, 
blockquote, th, td, input, select, textarea, button {
    margin: 0;
    padding: 0;
}

dl, ul, ol, li {
    list-style: none;
}

a {
	color: black;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	color: black;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

body #header {
    width: 100%;
}

body #header .header-section {
    margin: 80px auto;
    width: 1200px;
    height: 75px;
    min-height: 40px;
    display: flex;
    justify-content : space-between;
}
/*
body #header .header-section .h1-logo {
	padding: 6px 0px;
    height: 100%;
    font-weight: bold;
    color: #3200c2;
    display: inline-block;
} */

body #header .header-section .h1-logo h1 {
    font-size: 50px;
}

body #header .header-section .h1-logo {
    height: 100%;
    font-weight: bold;
    color: rgb(122, 75, 15);
    display: inline-block;
}

body #header .header-section .header-nav {
    display: inline-block;
    
}

body #header .header-section .header-nav ul li {
    display: inline-block;
}

body #header .header-section .header-nav ul li a {
    display: block;
    font-weight: 500;
    font-size: 25px;
    padding : 20px 30px;
}

body #header .header-section .header-member-box {
    display: flex;
    align-items: center;
}

body #header .header-section .header-member-box ul {
    font-size: 15px;
    color: #878787;
}

body #header .header-section .header-member-box ul li {
    display: inline-block;
}

.txt_bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 10px 0 10px;
    background: #dedede;
    vertical-align: -1px;
}

body #footer {
    width: 100%;
    height: 200px;
    background-color: #333333;
}

body #footer .footer-container {

    width: 1000px;
    height: 100%;
    margin: 0 auto;
    color: white;
}

body #footer .footer-container .footer-company-info {
    padding-top: 5%;
}

body #footer .footer-container .footer-company-info .footer-company-email {
    display: inline-block;
    font-size : 15px;
    font-weight: 300;
}

body #footer .footer-container .footer-company-info .footer-company-name {
    float: right;
    font-size: 24px;
}

body #container {
    margin: 0;
    border-top: none;

}

body #container #contents {
    min-height: 400px;
    padding: 0 50px 80px 50px;
    width: 1200px;
    border: 1px solid black;
    margin: 30px auto;
}

body #container .container-top-animator-background {
    background-color: #5F26FF;
    height: 500px;
    
}

body #container .container-top-animator-background .container-top-copy {
    padding: 120px 0 0 190px;
}

body #container .container-top-animator-background p:first-child {
    color: white;
    font-size: 56px;
    font-weight: bold;
}

body #container .container-top-animator-background p:last-child {
    color: white;
    font-size: 48px;
    font-weight: lighter;
}

body #container .container-bottom-animator-background {
    background-color: #ffffff;
    height: 500px;
}

body #container .container-bottom-animator-background .container-botton-copy {
    padding: 60px 0 0 190px;
}

body #container .container-bottom-animator-background p:first-child {
    color: #5F26FF;
    font-size: 64px;
    font-weight: bold;
}

body #container .container-bottom-animator-background p:last-child {
    color: #5F26FF;
    font-size: 64px;
    font-weight: lighter;
}


.circle-white {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 3;
    position: absolute;
    top:350px;
    right: -72px;
}

.circle-purple {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #5F26FF;
    z-index: 4;
    position: absolute;
    top:403px;
    right: -24px;
}

div.contents-prolist-promotional {
	position: relative;
	top:30px;
    line-height: 36px;
}

div#contents p#contents-prolist-promotional-msg {
	display:inline-block;
	font-size: 24px;
	font-weight: bold;
	color: #5F26FF;
	position: relative;
	left:7px;
}

div#contents p#contents-prolistAll-link {
	display:inline-block;
	font-size: 16px;
	font-weight:400;
	color: #5F26FF;
	position: relative;
    right:20px;
	float:right;
	cursor: pointer;
}

.swiper {
  	width: 1100px;
  	margin-top: 50px;
}

.swiper-slide {

}

.swiper .swiper-wrapper {
}

.swiper-slide-card {
	border:1px solid #b8b8b8;
  	border-radius: 30px;
  	overflow:hidden;
  	height: 400px;
  	cursor: pointer;
  	box-shadow: 12px 8px 14px -15px;
}

.swiper .swiper-card-img {
    position: relative;
    width: 100%;
    height: 200px;
}

.swiper .swiper-img-span {
	box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    inset: 0px;
}

.swiper .swiper-img-span img {
	position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: fill;
}

.swiper .swiper-card-info {
	padding : 20px;
	color: #363636;
}

.swiper .swiper-card-info .card-craft-name {
	font-size: 30px;
}

.swiper .swiper-pagination-bullet {
	background-color: #5F26FF !important;
}

.swiper .swiper-card-info p {
	margin-top: 5px;
}

.swiper .swiper-card-info .craft-strength {
	border: 1px solid #b8b8b8;
	border-radius: 8px;
	color: white;
	background-color: #5F26FF;
    display: inline-block;
    padding: 3px;
    margin: 5px 0 5px 0;
}

.swiper .swiper-card-info .card-craft-place .material-symbols-outlined {
	position: relative;
    top: 5px;
}

.banner-service-info {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    height: 300px;
    padding: 115px 30px;
    color: white;
    line-height: 40px;
    background: linear-gradient( to right, #400099 38%, #8890ff);
}

.banner-title {
	font-size: 40px;
	font-weight: 700;
}

.banner-cont-txt {
	
}


div#review-slide {
	margint-top: 50px;
}

.reviewSwiper {
    overflow: hidden;
    width: 1100px;
    margin-top: 50px;
    
}

div.contents-review-promotional {
    position: relative;
    top: 30px;
    line-height: 36px;
}

#review-list-title{
    display:inline-block;
	font-size: 24px;
	font-weight: bold;
	color: #7c7c7c;
	position: relative;
	left:7px;
}

#review-list-link {
	display:inline-block;
	font-size: 16px;
	font-weight:400;
	color: #7c7c7c;
	position: relative;
    right:20px;
	float:right;
	cursor: pointer;
}

.review-img {
    display: flex;
    justify-content: space-between;
    width: 445px;
    margin: 30px 30px 10px 30px
}

.reviewSwiper .swiper-wrapper .swiper-slide .swiper-slide-card .review-before-img, .review-after-img {
    position: relative;
    width: 200px;
    height: 200px;
}

.reviewSwiper .swiper-wrapper .swiper-slide .swiper-slide-card .review-after-img {
}

.review-img-span {
    box-sizing: border-box;
    overflow: hidden;
    inset: 0px;
}

.review-img-span img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: fill;
}

.slide-review-card {
	border-radius: 5px;
}

.swiper-slide .slide-review-card .card-review {
    margin: 0 30px;
}

.card-review .card-review-craft {
	font-weight: 600;
}

.card-review .card-review-content {
	font-weight: 500;
	font-size: 14px;
	color: #4f4f4f;
}

.card-review .card-review-info {
	font-weight:300;
	font-size: 13px;
	color: #848484;
}

.swiper-reivew-pagination {
	text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
}

.reviewSwiper .swiper-pagination-bullet, .swiper-pagination-bullet-active {
	background-color: #5F26FF !important;
}

#container .video-theme {
	display: flex;
	align-items: center;
}

#container .video-theme video {
	width: 100%;
	position: sticky;
	top: 0;
}

#container .video-theme .copywright {
	color: white;
    font-size: 50px;
    font-weight: 50;
    z-index: 5;
    position: absolute;
    line-height: 75px;
    left: 16%;
}

.serviceInfo-text-block {
	width: 100%;
	background-color: #333333;
	color: #ffffff;
	padding: 10% 0;
}

.serviceInfo-text-block #contents .copywright {
	font-size: 30px;
    font-weight: 50;
    margin-top: 78px;
}

.serviceInfo-text-block-white #contents .copywright {
	display:flex;
	font-size:30px;
	justify-content:center;
	background-color: #ffffff;
	color: #333333;
}

.serInfo-intro-img img {
	width: 300px;
	height: 300px;
}


/* ======================== 애니메이션 모음 =========================================== */
.fade-in {
  opacity: 0;
  animation: fade-in 2s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-1s {
  opacity: 0;
  animation: fade-in 0.7s forwards;
}

@keyframes fade-in-1s {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ==== 박준엽 끝 ========================================================================================= */









/* ==== 김진솔 시작========================================================================================= */

/*-- admin--------------------------------------------------------------*/

/*약관동의 form*/
body #admin_container {
    margin: 0;
    border-top: none;

}

body #admin_container #admin_contents {
    min-height: 400px;
    padding: 0 0 80px 0;
    width: 1200px;
   /*  border: 1px solid black; */
    margin: 30px auto;

}
body #admin_container #admin_contents #joinForm{
    width: 500px;
    margin: 0 auto;}
body #admin_container #admin_contents ul.join_box{
    border: 1px solid #ddd;background-color: #fff;
}
body #admin_container #admin_contents .checkBox>ul{
    position: relative;
}


body #admin_container #admin_contents .checkBox>ul>li:first-child{
    width: 85%;padding: 15px;font-weight: 600;color: #888;
}
body #admin_container #admin_contents .checkBox>ul>li:nth-child(2){
    position: absolute;top: 50%;right: 30px; margin-top: -12px;
}
body #admin_container #admin_contents .checkBox textarea{
    width: 96%;height: 90px; margin: 0 2%;background-color: #f7f7f7;color: #888; border: none;
}
body #admin_container #admin_contents .footBtwrap{
    margin-top: 15px;
}
body #admin_container #admin_contents .footBtwrap>li{
    float: left;width: 50%;height: 60px;
}
body #admin_container #admin_contents .footBtwrap>li>button{
    display: block; width: 100%;height: 100%; font-size: 20px;text-align: center;line-height: 60px;

}
body #admin_container #admin_contents .fpmgBt1{
     background-color: #fff; 
    border: solid 1px rgb(164, 163, 163);
}
body #admin_container #admin_contents .fpmgBt2{
     background-color: #400099;
    border: solid 1px rgb(164, 163, 163);
    color: white;
}



/* 공방 신청 form */
body #admin_container #admin_contents #craft_application{
    /* border: solid 1px rgb(230, 230, 230); */
    height: 1700px;
}

body #admin_container #admin_contents #craft_application #application_left{
    width: 270px;
    height: 1700px;
    float: left;    
}

body #admin_container #admin_contents #craft_application .left_list{
    margin-top: 30px;
    border: solid 1px rgb(217, 217, 217);
    width: 220px;
    height: 320px;
    border-radius: 10px;
}
body #admin_container #admin_contents #craft_application .left_list span{
    margin-left: 8px;
}

body #admin_container #admin_contents  .left_list span{
    font-size: 13pt;
    cursor: pointer;
    color: #595a61b8;
    display: inline-block;
}
body #admin_container #admin_contents  .left_list div{
    margin: 8%;
}

body #admin_container #admin_contents .application_right{
    width: 928px;
    height: auto;
    display: inline-block;
}
body #admin_container #admin_contents .application_right .list{
    border: solid 1px 0015a;
    width: 920px;
    height: 50px;
    color: #400099;
    font-size: 17pt;
    font-weight: 600;
}
body #admin_container #admin_contents .application_right .list span{
    border-bottom: solid 1px whitesmoke;
    padding: 0 0 12px 20px;
    margin-top: 20px;
}

body #admin_container #admin_contents .application_right span{
    display: flex;
    padding-top: 9px;
    padding-left: 11px;
}
body #admin_container #admin_contents .application_right .image{
    border: solid 1px rgb(214, 214, 214);
    border-radius: 15px;
    margin: 40px 10px;
    height: 60px;
}

body #admin_container #admin_contents .filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 200px;
    color: #999999;
}
body #admin_container #admin_contents  .filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 44px;
    margin-left: 10px;
}
body #admin_container #admin_contents .filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}



body #admin_container #admin_contents .application_right  .upload{
    width: 300px;
    height: 38px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-top: 5px;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
  }
  body #admin_container #admin_contents .application_right #self_introduce {
    width: 500px;
    height: 180px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-top: 5px;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
  }
body #admin_container #admin_contents .application_right .frm_border{
    border: solid 1px rgb(214, 214, 214);
    border-radius: 15px;
    margin: 40px 10px;
    height: 60px;
}

body #admin_container #admin_contents .application_right .frm_border_2{
    border: solid 1px rgb(214, 214, 214);
    border-radius: 15px;
    margin: 40px 10px;
    height: 200px;
}

body #admin_container #admin_contents .application_right .frm_border_3{
    border: solid 1px rgb(214, 214, 214);
    border-radius: 15px;
    margin: 40px 10px;
    height: 105px;
}

body #admin_container #admin_contents .application_right #other_career{
    width: 500px;
    height: 80px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-top: 5px;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}


body #admin_container #admin_contents .application_right p {
    color: rgb(95, 95, 95);
    font-weight: 500;
    font-size: 13pt; 
    margin-top: 6px;
    width: 150px;
    padding-left: 4px;
}

/*중복검사 버튼*/
body #admin_container #admin_contents .application_right .check_button{
    padding: 10px 10px;
    color: #fff;
    font-size: 11pt;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    width: 100px;
    margin-left: 10px;
    border: #f7f7f7;
    border-radius: 10px;
}

/* 전문분야 체크박스*/

body #admin_container #admin_contents .application_right #specialized_chkBox{
    margin-top: 6px;
    width: 350px;
    font-size: 13pt;
    color: 444;
    color: rgb(86, 86, 86);

}

body #admin_container #admin_contents .application_right #specialized_chkBox input[type="checkbox"] {
    margin: 2%;
}



/*총 경력기간 select 태그 css*/
body #admin_container #admin_contents .application_right select {
    font-size: 12pt;
    width: 150px;
    height: 35px;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    outline: 0 none;
  }

body #admin_container #admin_contents .application_right select option{
    background:#efefefe2;
    color: rgb(67, 67, 67);
    padding: 3px 0;
}


body #admin_container #admin_contents .application_right .Certificate{
    border: solid 1px rgb(214, 214, 214);
    border-radius: 15px;
    margin: 40px 10px;
    height: 60px;
}

body #admin_container #admin_contents .submit_box{
    margin: 40px 10px;
    height: 60px;
    text-align: center;
    padding-top: 35px;
}

body #admin_container #admin_contents .submit_box .submit_go{
    border-radius: 28px;
    box-sizing: border-box;
    background-color: #400099;
    border:#400099 ;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 56px;
    letter-spacing: -.45px;
    line-height: 26px;
    padding: 14px 15px;
    text-align: center;
    width: 180px;
}

body #admin_container #admin_contents .submit_box .submit_back{
    border-radius: 28px;
    box-sizing: border-box;
    background: #fff;
    border: solid 0.4px #b9b9b9;
    color: #1a1325;
    display: inline-block;
    font-size: 18px;
    height: 56px;
    letter-spacing: -.45px;
    line-height: 26px;
    padding: 14px 15px;
    text-align: center;
    width: 180px;
}


/* (어드민) 공방 신청 완료 본문시작 */
body #admin_container #admin_contents #admin_complete{
    border: solid 1px rgb(177, 177, 177);
    border-radius: 12px;
    margin: 0 auto;
    width: 1100px;
    height: 330px;
}

body #admin_container #admin_contents #complete{
    border-bottom: solid 1px rgb(177, 177, 177);
    margin: 0 auto;
    width: 950px;
    font-size: 20pt;
    padding: 30px 0px 20px 0px;
    font-weight: 600;
    color: #400099;
}

body #admin_container #admin_contents #complete_content{
    margin: 0 auto;
    width: 940px;
    font-size: 14pt;
    padding: 20px 10px;
    color: #646464;
}


/* ==== 김진솔 끝========================================================================================= */

