@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, 
h6, pre, code, form, fieldset, legend, textarea, p, 
blockquote, th, td, input, select, textarea, button {
    margin: 0;
    padding: 0;
}

dl, ul, ol, li {
    list-style: none;
}

a {
	color: black;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
	color: black;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}

body #header {
    width: 100%;
}

body #header .header-section {
    margin: 80px auto;
    width: 1200px;
    height: 75px;
    min-height: 40px;
    display: flex;
    justify-content : space-between;
}
/*
body #header .header-section .h1-logo {
	padding: 6px 0px;
    height: 100%;
    font-weight: bold;
    color: #3200c2;
    display: inline-block;
} */

body #header .header-section .h1-logo h1 {
    font-size: 50px;
}

body #header .header-section .h1-logo {
    height: 100%;
    font-weight: bold;
    color: rgb(122, 75, 15);
    display: inline-block;
}

body #header .header-section .header-nav {
    display: inline-block;
    
}

body #header .header-section .header-nav ul li {
    display: inline-block;
}

body #header .header-section .header-nav ul li a {
    display: block;
    font-weight: 500;
    font-size: 25px;
    padding : 20px 30px;
}

body #header .header-section .header-member-box {
    display: flex;
    align-items: center;
}

body #header .header-section .header-member-box ul {
    font-size: 15px;
    color: #878787;
}

body #header .header-section .header-member-box ul li {
    display: inline-block;
}

.txt_bar {
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 0 10px 0 10px;
    background: #dedede;
    vertical-align: -1px;
}

body #footer {
    width: 100%;
    height: 200px;
    background-color: #333333;
}

body #footer .footer-container {

    width: 1000px;
    height: 100%;
    margin: 0 auto;
    color: white;
}

body #footer .footer-container .footer-company-info {
    padding-top: 5%;
}

body #footer .footer-container .footer-company-info .footer-company-email {
    display: inline-block;
    font-size : 15px;
    font-weight: 300;
}

body #footer .footer-container .footer-company-info .footer-company-name {
    float: right;
    font-size: 24px;
}

body #container {
    margin: 0;
    border-top: none;

}

body #container #contents {
    min-height: 400px;
    padding: 0 50px 80px 50px;
    width: 1200px;
    border: 1px solid black;
    margin: 30px auto;
}

body #container .container-top-animator-background {
    background-color: #5F26FF;
    height: 500px;
    
}

body #container .container-top-animator-background .container-top-copy {
    padding: 120px 0 0 190px;
}

body #container .container-top-animator-background p:first-child {
    color: white;
    font-size: 56px;
    font-weight: bold;
}

body #container .container-top-animator-background p:last-child {
    color: white;
    font-size: 48px;
    font-weight: lighter;
}

body #container .container-bottom-animator-background {
    background-color: #ffffff;
    height: 500px;
}

body #container .container-bottom-animator-background .container-botton-copy {
    padding: 60px 0 0 190px;
}

body #container .container-bottom-animator-background p:first-child {
    color: #5F26FF;
    font-size: 64px;
    font-weight: bold;
}

body #container .container-bottom-animator-background p:last-child {
    color: #5F26FF;
    font-size: 64px;
    font-weight: lighter;
}


.circle-white {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 3;
    position: absolute;
    top:350px;
    right: -72px;
}

.circle-purple {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #5F26FF;
    z-index: 4;
    position: absolute;
    top:403px;
    right: -24px;
}

div.contents-prolist-promotional {
	position: relative;
	top:30px;
    line-height: 36px;
}

div#contents p#contents-prolist-promotional-msg {
	display:inline-block;
	font-size: 24px;
	font-weight: bold;
	color: #5F26FF;
	position: relative;
	left:7px;
}

div#contents p#contents-prolistAll-link {
	display:inline-block;
	font-size: 16px;
	font-weight:400;
	color: #5F26FF;
	position: relative;
    right:20px;
	float:right;
	cursor: pointer;
}

.swiper {
  	width: 1100px;
  	margin-top: 50px;
}

.swiper-slide {

}

.swiper .swiper-wrapper {
}

.swiper-slide-card {
	border:1px solid #b8b8b8;
  	border-radius: 30px;
  	overflow:hidden;
  	height: 400px;
  	cursor: pointer;
  	box-shadow: 12px 8px 14px -15px;
}

.swiper .swiper-card-img {
    position: relative;
    width: 100%;
    height: 200px;
}

.swiper .swiper-img-span {
	box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    inset: 0px;
}

.swiper .swiper-img-span img {
	position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: fill;
}

.swiper .swiper-card-info {
	padding : 20px;
	color: #363636;
}

.swiper .swiper-card-info .card-craft-name {
	font-size: 30px;
}

.swiper .swiper-pagination-bullet {
	background-color: #5F26FF !important;
}

.swiper .swiper-card-info p {
	margin-top: 5px;
}

.swiper .swiper-card-info .craft-strength {
	border: 1px solid #b8b8b8;
	border-radius: 8px;
	color: white;
	background-color: #5F26FF;
    display: inline-block;
    padding: 3px;
    margin: 5px 0 5px 0;
}

.swiper .swiper-card-info .card-craft-place .material-symbols-outlined {
	position: relative;
    top: 5px;
}

.banner-service-info {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    padding: 115px 30px;
    color: white;
    line-height: 40px;
    background: linear-gradient( to right, #400099 38%, #8890ff);
}

.banner-title {
	font-size: 40px;
	font-weight: 700;
}

.banner-cont-txt {
	
}


div#review-slide {
	margint-top: 50px;
}

.reviewSwiper {
    overflow: hidden;
    width: 1100px;
    margin-top: 50px;
    
}

div.contents-review-promotional {
    position: relative;
    top: 30px;
    line-height: 36px;
}

#review-list-title{
    display:inline-block;
	font-size: 24px;
	font-weight: bold;
	color: #7c7c7c;
	position: relative;
	left:7px;
}

#review-list-link {
	display:inline-block;
	font-size: 16px;
	font-weight:400;
	color: #7c7c7c;
	position: relative;
    right:20px;
	float:right;
	cursor: pointer;
}

.review-img {
    display: flex;
    justify-content: space-between;
    width: 445px;
    margin: 30px 30px 10px 30px
}

.reviewSwiper .swiper-wrapper .swiper-slide .swiper-slide-card .review-before-img, .review-after-img {
    position: relative;
    width: 200px;
    height: 200px;
}

.reviewSwiper .swiper-wrapper .swiper-slide .swiper-slide-card .review-after-img {
}

.review-img-span {
    box-sizing: border-box;
    overflow: hidden;
    inset: 0px;
}

.review-img-span img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: fill;
}

.slide-review-card {
	border-radius: 5px;
}

.swiper-slide .slide-review-card .card-review {
    margin: 0 30px;
}

.card-review .card-review-craft {
	font-weight: 600;
}

.card-review .card-review-content {
	font-weight: 500;
	font-size: 14px;
	color: #4f4f4f;
}

.card-review .card-review-info {
	font-weight:300;
	font-size: 13px;
	color: #848484;
}

.swiper-reivew-pagination {
	text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
}

.reviewSwiper .swiper-pagination-bullet, .swiper-pagination-bullet-active {
	background-color: #5F26FF !important;
}


/* ======================== 애니메이션 모음 =========================================== */
.fade-in {
  opacity: 0;
  animation: fade-in 2s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in-1s {
  opacity: 0;
  animation: fade-in 0.3s forwards;
}

@keyframes fade-in-1s {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

